* {
  margin: 0;
  padding: 0;
}

/* html{
  font-family: 'Courier New', Courier, monospace !important;
} */

body {
  font-family: Satoshi, sans-serif, 'Courier New', Courier, monospace;
  font-size: 14px;
}

li {
  list-style: circle;
  padding: .5rem;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card{
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 4px 5px 50px #8c8c8c;
    border-radius: 8px;
}

.card h2{
    font-weight: 500;
}

td , th{
  padding: 1rem;
} 
